# Secrets et mots de passe
mysql_root.txt
*.txt
mail.key

# Fichiers TLS/SSL
tls/*.key
tls/*.crt
**/*.key
**/*.pem

# Bases de données ClamAV (trop lourdes pour Git)
security/clamav/*.cvd

# Divers
.DS_Store
*.log
