# --- SECRÉTS ET MOTS DE PASSE (CRITIQUE) ---
# Fichiers à la racine
/mysql_root.txt
/mail.key
/security/dkim/mail.key

# Fichiers de configuration contenant des secrets (K8s)
# On ignore les fichiers qui contiennent des passwords/tokens en clair
k8s/base/mail-config.yaml

# --- INFRASTRUCTURE & TLS ---
# On ignore les sauvegardes de certificats et clés privées
k8s/security/certs_backup/
**/*.key
**/*.pem
**/*.crt

# --- FICHIERS LOURDS (LAB) ---
# Bases de données ClamAV (très lourd pour Git)
k8s/security/clamav/*.cvd
k8s/security/clamav/*.cld
security/clamav/*.cvd

# --- LOGS ET TEMPORAIRES ---
*.log
.DS_Store
.idea/
.vscode/
*.swp
node_modules/
